@using static ASI.Basecode.Resources.Views.Screen

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    @RenderSection("Styles", required: false)
</head>

<body style="background-color:#F5FBF7">


    @* @if (ViewBag.LoginView == true)
    {
        <div style="background-image: url('/img/grad-bg.png'); background-size: cover; background-position: center; background-repeat: no-repeat; background-attachment: fixed;">
            <main role="main" class="container">
                @RenderBody()
            </main>
        </div>
    }
    else
    {
        @Html.Partial("_Header")

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    @Html.Partial("Index") <!-- Sidebar -->
                </div>

                <div class="col-md-9" role="main" id="main-content">
                    @if (ViewBag.CurrentView == "Facilities" && ViewBag.ShowAddFacilities == true)
                    {
                        @Html.Partial("_AddFacilities") <!-- Render the Add Facilities partial view -->
                    }
                    else if (ViewBag.CurrentView == "Facilities")
                    {
                        @Html.Partial("/Views/Body/_Facilities.cshtml")
                        // Render the Facilities view when Add Facility is not clicked
                    }
                    else if (ViewBag.CurrentView == "EditFacility")
                    {
                        @Html.Partial("_AddFacilities") <!-- Use the same partial view to edit -->
                    }
                    else
                    {
                        <!-- Default content for other views -->
                        <p>Greetings fellow peasants, TONIGHT WE STEAL THE MOON.</p>
                    }
                </div>
            </div>
        </div>
    } *@

    @if (ViewBag.LoginView == true)
    {
        <div style="background-image: url('/img/grad-bg.png'); background-size: cover; background-position: center; background-repeat: no-repeat; background-attachment: fixed;">
            <main role="main" class="container">
                @RenderBody()
            </main>
        </div>
    }
    else
    {
        @Html.Partial("_Header")

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    @Html.Partial("Index") <!-- Sidebar -->
                </div>

                <div class="col-md-9" role="main" id="main-content">
                    @if (ViewBag.CurrentView == "AddFacility" || ViewBag.CurrentView == "EditFacility")
                    {
                        @Html.Partial("_AddFacilities") <!-- Render the Add/Edit Facilities partial view -->
                    }
                    else if (ViewBag.CurrentView == "Facilities")
                    {
                        @Html.Partial("/Views/Body/_Facilities.cshtml") <!-- Render the Facilities view -->
                    }
                    else
                    {
                        <!-- Default content for other views -->
                        <p>Greetings fellow peasants, TONIGHT WE STEAL THE MOON.</p>
                    }
                </div>
            </div>
        </div>
    }








    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>
    <script src="https://kit.fontawesome.com/7a7c645416.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

 

    <script>
        $(document).ready(function () {
            // When the Users menu item is clicked
            $('li:contains("Users")').on('click', function (e) {
                e.preventDefault();

                // Perform an AJAX request to load the _Users partial view
                $.ajax({
                    url: '/Account/LoadUsers',  // Corrected path to the LoadUsers action
                    type: 'GET',
                    success: function (data) {
                        $('#main-content').html(data);  // Replace the main content with the partial view
                    },
                    error: function () {
                        alert('Failed to load the Users section.');
                    }
                });

            });

            // When the Facilities menu item is clicked
            $('li:contains("Facilities")').on('click', function (e) {
                e.preventDefault();

                // Perform an AJAX request to load the _Facilities partial view
                $.ajax({
                    url: '/Account/LoadFacilities',
                    // /* url: '/Account/LoadFacilities', */  Adjust the URL to match the Facilities action
                    type: 'GET',
                    success: function (data) {
                        $('#main-content').html(data);  // Replace the main content with the partial view
                    },
                    error: function () {
                        alert('Failed to load the Facilities section.');
                    }
                });
            });

            //FOR NAVIGATING TO A SPECIFIC FACILITY (CLICKING A SPECIFIC FACILITY IN THE FACILITIES PAGE)
            $(document).on('click', '#cont1', function (e) {
                e.preventDefault();
                $.ajax({
                    url: '/Account/ViewFacility',
                    type: 'GET',
                    success: function (data) {
                        $('#main-content').html(data);
                    },
                    error: function () {
                        alert('Failed to load the Facility details.');
                    }
                });
            });

            $(document).on('click', '#SpecificFacilityBackBTN', function (e) {
                e.preventDefault();
                $.ajax({
                    url: '/Account/LoadFacilities',
                    type: 'GET',
                    success: function (data) {
                        $('#main-content').html(data);
                    },
                    error: function () {
                        alert('Failed to load the Facility details.');
                    }
                });
            });
            // In layout.cshtml, modify your Facilities click handler to include setting up the cont1 click handler
            // $('li:contains("Facilities")').on('click', function (e) {
            //     e.preventDefault();

            //     $.ajax({
            //         url: '/Account/LoadFacilities',
            //         type: 'GET',
            //         success: function (data) {
            //             $('#main-content').html(data);  Replace the main content with the partial view

            //             Add the click handler after the facilities content is loaded
            //             $('#cont1').on('click', function (e) {
            //                 e.preventDefault();

            //                 $.ajax({
            //                     url: '/Account/ViewFacility',
            //                     type: 'GET',
            //                     success: function (data) {
            //                         $('#main-content').html(data);
            //                     },
            //                     error: function () {
            //                         alert('Failed to load the Facility details.');
            //                     }
            //                 });
            //             });
            //         },
            //         error: function () {
            //             alert('Failed to load the Facilities section.');
            //         }
            //     });
            // });
        });
    </script>


    <script>
        $(document).ready(function () {
            // When the Add Facility button is clicked
            $('.add-facility-btn').on('click', function (e) {
                e.preventDefault();

                // Perform an AJAX request to load the _AddFacilities partial view
                $.ajax({
                    url: '/Account/LoadAddFacilities',  // Adjust the URL to match the AddFacilities action
                    type: 'GET',
                    success: function (data) {
                        $('#main-content').html(data);  // Replace the main content with the partial view
                    },
                    error: function () {
                        alert('Failed to load the Add Facilities content.');
                    }
                });
            });
        });
    </script>

    @* <script>
        $(document).ready(function () {
            // When the Register button is clicked
            $('.register-btn').on('click', function (e) {
                e.preventDefault();

                // Perform an AJAX request to load the Register partial view or page
                $.ajax({
                    url: '/Account/Register',  // Adjust the URL to match the Register action
                    type: 'GET',
                    success: function (data) {
                        $('#main-content').html(data);  // Replace the main content with the partial view
                    },
                    error: function () {
                        alert('Failed to load the Register content.');
                    }
                });
            });
        });
    </script>
 *@
    <script>
        $(document).ready(function () {
            // When the Facilities menu item is clicked
            $('li:contains("Facilities")').on('click', function (e) {
                e.preventDefault();

                // Perform an AJAX request to load the _Facilities partial view
                $.ajax({
                    url: '/Account/LoadFacilities',
                    type: 'GET',
                    success: function (data) {
                        console.log("Successfully loaded Facilities content."); // Log success
                        $('#main-content').html(data); // Replace the main content with the Facilities partial view

                        // Re-attach the Add Facility button click event after loading new content
                        attachAddFacilityClickEvent(); // Call function to attach event
                    },
                    error: function () {
                        console.error("Failed to load the Facilities content."); // Log failure
                        alert('Failed to load the Facilities section.');
                    }
                });
            });

            // Function to attach click event to Add Facility button
            function attachAddFacilityClickEvent() {
                $('.add-facility-btn').off('click').on('click', function (e) {
                    e.preventDefault(); // Prevent the default action of the button
                    console.log("Add Facility button clicked."); // Log button click event

                    // Perform an AJAX request to load the _AddFacilities partial view
                    $.ajax({
                        url: '/Account/LoadAddFacilities', // URL to match the LoadAddFacilities action
                        type: 'GET',
                        success: function (data) {
                            console.log("Successfully loaded Add Facilities content."); // Log success
                            $('#main-content').html(data); // Replace the main content with the Add Facilities partial view
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.error("Failed to load the Add Facilities content."); // Log failure
                            console.error("Error details:", textStatus, errorThrown); // Log detailed error information
                            alert('Failed to load the Add Facilities content.'); // Alert on error
                        }
                    });
                });
            }

            // Attach event on document ready
            attachAddFacilityClickEvent(); // Call on initial load
        });
    </script>

    <script>
                $(document).on('click', '.edit-facility', function (e) {
            e.preventDefault();

            var url = $(this).data('url'); // Get the URL from data-url attribute

            // Perform an AJAX request to load the Add Facilities partial view (for editing)
            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    $('#main-content').html(data); // Replace the main content with the Add Facilities partial view
                },
                error: function () {
                    alert('Failed to load the Edit Facility content.');
                }
            });
        });

    </script>

    <script>
        $(document).on('click', '.add-facility-btn, .edit-facility', function (e) {
            e.preventDefault(); // Prevent default behavior of the button or link

            var url = $(this).data('url'); // Get the URL from data-url attribute

            // Perform an AJAX request to load the Add/Edit Facilities partial view
            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    $('#main-content').html(data); // Replace the main content with the Add/Edit Facilities partial view
                },
                error: function () {
                    alert('Failed to load the content.');
                }
            });
        });

</script>



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
