@using static ASI.Basecode.Resources.Views.Screen

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    @RenderSection("Styles", required: false)
</head>

<body style="background-color:#F5FBF7">

    @if (ViewBag.LoginView == true)

    {
        <div style="background-image: url('/img/grad-bg.png'); background-size: cover; background-position: center; background-repeat: no-repeat; background-attachment: fixed;">
            <main role="main" class="container">
                @RenderBody()
            </main>
        </div>
    }

    else

    {
        @Html.Partial("_Header")

        <div class="container-fluid">
            <div class="row">

                <div class="col-md-3" >
                    @Html.Partial("Index") <!-- Sidebar -->
                </div>

                <div class="col-md-9" role="main" id="main-content">
                    <!-- Main content will be dynamically loaded here -->
                </div>
            </div>
        </div>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>
    <script src="https://kit.fontawesome.com/7a7c645416.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script>
        $(document).ready(function () {
            // When the Users menu item is clicked
            $('li:contains("Users")').on('click', function (e) {
                e.preventDefault();

                // Perform an AJAX request to load the _Users partial view
                $.ajax({
                    url: '/Account/LoadUsers',  // Corrected path to the LoadUsers action
                    type: 'GET',
                    success: function (data) {
                        $('#main-content').html(data);  // Replace the main content with the partial view
                    },
                    error: function () {
                        alert('Failed to load the Users section.');
                    }
                });

            });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
